body {
	height: 100%;
	min-width:960px;
}
img {
	border: none;
}
#logo {
	position: absolute;
	z-index: 100;
	top:0;
	left: 0;
	padding: 6px;
	margin:0;
}
#logo img {
	float:left;
	margin-right: 6px;
	box-shadow: 0 0 4;
	margin-top:-6px;
	margin-left:-6px;
	margin-right: -38px;
}
#logo:after {
	content: url('../gfx/beta.png');
	position: absolute;
	top:-10px;
	left:221px;
}
header {
	position: absolute;
	z-index: 50;
	top: 0;
	left:0;
	right:0;
	height:60px;
	padding:0;
	padding-left: 290px;
}
header ul {
	list-style: none;
	margin:0;
	padding:0;
}
header li>a {
	display: inline-block;
}
header li>a,header li>a:visited {
	margin: 0;
	width:180px;
	height:60px;
	line-height: 60px;
	float: left;
}
header p {
	text-align: right;
	margin:0;
}
header p img {
	margin:10px;
	vertical-align: middle;
}
header a {
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
#usertools {
	float:right;
	text-align: right;
	margin: 0;
	padding: 0 1em;
	height: 60px;
	font-size: 0.8em;
	box-shadow: 0 0 16px #000;
}


h2 {
	margin-bottom: 0.2em
}

.button {
	display: inline-block;
	padding: 0.5em;
	margin:0px;
	border:1px solid #777;
	border-radius: 4px;
}
.message {
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	padding: 0.5em;
}
.progress {
	border-radius: 6px;
	border: 1px solid #555;
	width:300px;
	overflow: hidden;
	margin: 0.5em 0;
}
.progressbar {
	min-height:1.2em;
	line-height: 1.2em;
	width: 0;
}



.tableform label {
	margin:0.5em;
	width:35%;
	float:left;
}
.tableform input {
	width:50%;
	margin:0.5em;
	clear:right;
}
.tableform .helptext {
	display: none;
}
.tableform .errorlist {
	position: absolute;
	left:95%;
	width:300px;
	padding:0.4em;
	margin: 0;
}

.popover>h2:first-child {
	margin-top:0em;
}
#feedbackForm {
	display: none;
	width: 258px;
}
form input[type=text],form input[type=password], form select, form textarea {
	display: block;
	width:250px;
	padding: 0.2em;
}
form textarea {
	height:5em;
}
form h4 {
	margin-bottom: 0;
}
form input[type=submit] {
	border-radius: 4px;
	min-width:100px;
	/*float:left;*/
}

.vertical-grid input[type="text"],.vertical-grid input[type="password"] {
	width:220px;
}
.vertical-grid label {
	display: inline-block;
	width:150px;
	padding-right: 0.5em;
	text-align: right;
	clear:left;
}

#login {
	width:420px;
	height: 320px;
	left: 50%;
	top:50%;
	margin-top: -220px;
	margin-left: -220px;
	padding:20px;
}