{% extends "base.html" %}
{% block pageTitle %}DNA Skittle{% endblock %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/browser.css">
	<style type="text/css">
	body {
		background: #080808;
		margin: 0;
		font-size: 16px;
		color:#ddd;
	}
	a {
		color:#8f5;
	}
	a:visited {
		color:#90EE68;
	}
	a:hover {
		color:#E2FFD6;
	}
	a:active {
		color:#fff;
	}
	p,dl {
		font-family: trebuchet,'trebuchet ms','myriad pro',helvetica,sans-serif;
	}
	#header p,#webskittle p {

		text-shadow:#000 0 0 8px,#000 0 0 4px,#000 0 0 12px,#000 0 0 16px;
	}
	#container {
		position: absolute;
		background-color: #000;
		background: -webkit-linear-gradient(bottom,#080808,transparent 250px),url('{{STATIC_URL}}gfx/home-bkg.png');
		background: -moz-linear-gradient(bottom,#080808,transparent 250px),url('{{STATIC_URL}}gfx/home-bkg.png');
		background: linear-gradient(bottom,#080808,transparent 250px),url('{{STATIC_URL}}gfx/home-bkg.png');
		width:948px;
		margin: 0;
		margin-left: -470px;
		left:50%;
		top:0;
		bottom: 0;
	}
	#header {
		background: url('{{STATIC_URL}}gfx/bkg-home-logo.png') center bottom no-repeat,-webkit-linear-gradient(bottom,rgba(0,0,0,0.8),transparent 150px),url('{{STATIC_URL}}gfx/home-bkg.png');
		background: -moz-linear-gradient(bottom,rgba(0,0,0,0.8),transparent 150px),url('{{STATIC_URL}}gfx/home-bkg.png');
		background: linear-gradient(bottom,rgba(0,0,0,0.8),transparent 150px),url('{{STATIC_URL}}gfx/home-bkg.png');
		position: absolute;
		top:0px;
		bottom: 281px;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid #fff;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	#header.active {
		top:-300px;
		bottom: 581px;
	}
	h1 {
		position: absolute;
		bottom: 6%;
		width: 100%;
		font-weight: 500;
		font-size: 4em;
		/*padding: 200px 0;*/
		/*background: url('{{STATIC_URL}}gfx/bkg-home-logo.png') center center no-repeat;*/

		color:#eee;
		text-shadow:#000 0 0 8px;
		text-align: center;
		z-index: 0;
	}
	h1::before {
		/*content: url('{{STATIC_URL}}gfx/bkg-home-logo.png');*/
		position: absolute;
		margin: -74px 0 0 -64px;
		z-index: -1;
	}
	h1 span {
		font-weight: 100;
		text-shadow:#000 0 0 4px,#000 0 0 12px;
	}
	h1 img {
		box-shadow: 0 0 4;
		margin-bottom:-55px;
		margin-left:-30px;
		margin-right: -30px;
	}
	#introStatement {
		font-size: 1.8em;
		font-weight: 300;
		color:#8f5;
		text-shadow:#000 0 0 8px,#000 0 0 4px,#000 0 0 12px,#000 0 0 16px;
		text-align: center;
		margin: 5% 0;
	}
	#shortDescription {
		font-size: 1.1em;
		position: absolute;
		color:#aaa;
		text-shadow:#000 0 0 8px,#000 0 0 4px,#000 0 0 12px,#000 0 0 16px;
		bottom: 8px;
		margin: 0;
		padding: 0 6em;
		text-align: center;
	}
	#content {
		background: #080808;
		position: absolute;
		bottom:281px;
		height:300px;
		width: 100%;
		margin-top:1px;
		overflow: hidden;
	}
	#content section {
		position: absolute;
		margin-bottom: -300px;
		width: 96%;
		padding: 0 2%;
		opacity: 0;
		z-index: 0;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	#content section.active {
		opacity: 1;
		margin-bottom: 0px;
		z-index: 1;
	}
	#content article {
		text-align: justify;
		-moz-column-count:3;
		-webkit-column-count:3;
		column-count:3;
		-moz-column-gap:3em;
		-webkit-column-gap:3em;
		column-gap:3em;
		font-size: 0.95em;
		line-height: 1.5em;
	}
	#content article p:first-child {
		margin-top:0;
	}
	nav {
		position: absolute;
		bottom: 201px;
		height: 80px;
		width: 100%;
		border-top: 1px solid #fff;
		background: url('{{STATIC_URL}}gfx/bkg-home-menu.png');
		color: #8f5;
		font-size: 1.2em;
	}
	nav ul {
		list-style: none;
		padding: 0;
		margin: 0px auto;
		text-align: center;
	}
	nav li {
		display: inline-block;
		padding: 8px;
		margin: 0;
	}
	nav a {
		text-decoration: none;
		padding: 5px 20px;
		border-top: 3px solid transparent;
	}
	nav a:hover,nav a.active {
		border-top: 3px solid #8f5;

	}
	#webskittle {
		position: absolute;
		padding-top: 50px;
		height: 170px;
		width: 100%;
		bottom: 0;
		text-align: center;
	}
	.actionButton {
		text-decoration: none;
		color:#fff;
		font-size: 1.4em;
		width: 250px;
		margin: 0.5em auto;
		padding:0.4em 1em;
		background: #040;
		border: 1px solid #040;
		border-radius: 8px;
		vertical-align: middle;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #123D00;
		background-image: -moz-linear-gradient(top, #061400, #185200);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#061400), to(#185200));
		background-image: -webkit-linear-gradient(top, #061400, #185200);
		background-image: -o-linear-gradient(top, #061400, #185200);
		background-image: linear-gradient(to bottom, #061400, #185200);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff061400', endColorstr='#ff185200', GradientType=0);
		border-color: #185200 #185200 #38592a;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		box-shadow: 0 0 8px #000,0 0 12px #000,0 0 16px #000;
	}
	.actionButton:visited {
		color: #fff;
	}
	.actionButton:hover {
		color: #fff;
		background-color: #123D00;
		background-image: -moz-linear-gradient(top, #185200, #061400);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#185200), to(#061400));
		background-image: -webkit-linear-gradient(top, #185200, #061400);
		background-image: -o-linear-gradient(top, #185200, #061400);
		background-image: linear-gradient(to bottom, #185200, #061400);
		background-repeat: repeat-x;
	}
	#social {
		position: absolute;
		bottom: 12px;
		right: 12px;
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin-left: 1em;
	}
	</style>
	{% endblock %}
	{% block scripts %}
<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">


	</script>
	{% endblock %}
	{% block header %}{% endblock %}

	{% block content %}

	<div id="container">
		<div id="content">
			<section id="whySkittle" class="">
				<h2>What is Skittle?</h2>
				<article>

				</article>
			</section>
			<section id="visualizations" class="">
				<h2>Visualizations</h2>
				<article>
				<p>It is well known that the human mind excels at pattern recognition (e.g., near-instantaneous face recognition), but the mind needs graphical help when dealing with large amounts of numerical data, and there is currently a lack of tools available for genomic visualization in general. Several abstract tools do exist, but we felt a need for the introduction of a simple tool that is optimized for the visualization of genomic data specifically. The primary goal in the development of Skittle was to give the user the simplest possible way to visually examine raw genomic data.</p>

				<p>Skittle was not designed to compete with the data heavy, directed search algorithms already in existence. These are excellent at detecting repeats and other genomic motifs, but most lack a high quality visualization feature. Skittle was designed around the need for visualization, not automated data generation.</p>
				</article>
			</section>
			<section id="support" class="">
				<h2>Support</h2>
				<article>
				<p>Though Skittle is still in a very early stage of development we are very interested in your feedback and input.  If you have encountered a bug or have trouble with any of the features please contact our support team at support@dnaskittle.com.</p>
				</article>
			</section>
			<section id="contact" class="">
				<h2>Contact Us</h2>
				<article>
				<p>DNA Skittle is developed by <a href="http://newlinetechnicalinnovations.com">Newline Technical Innovations</a>.  We are excited about this tool and would welcome discusion of any opportunities you would like to present.</p>
				<p><dl>
					<dt>Email:</dt><dd><a href="mailto:info@newlinetechnicalinnovations.com">info@newlinetechnicalinnovations.com</a></dd>
					<dt>Phone:</dt><dd>970-599-1764</dd>
				</dl></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. </p>
				</article>
			</section>
		</div>
		<div id="header" class="">
			<div id="introStatement">The future of genome visualization is here...</div>
			<h1><img src="{{STATIC_URL}}gfx/skittle-logo-m.png" height="150" width="150"><span>DNA</span>Skittle</h1>
			<p id="shortDescription">DNA Skittle is an ongoing bioinformatics project created to display two dimensional visualization of DNA sequences. Skittle has grown into a tool aimed at finding patterns and structure in the genomes of any organism and is now available through the web browser.</p>
		</div>
	<nav>
		<ul>
			<li><a href="#whySkittle">What is Skittle?</a></li>
			<li><a href="#visualizations">Visualizations</a></li>
			<!-- <li><a href="#invest">Invest</a></li> -->
			<li><a href="#support">Support</a></li>
			<li><a href="#contact">Contact Us</a></li>
		</ul>
	</nav>

	<div id="webskittle">
		<a href="/discover" class="actionButton">Try DNA Skittle Online</a>
		<p>This is an alpha preview release.  We recommend using <a href="http://google.com/chrome" target="_blank">Google Chrome</a>.</p><br>
		<p>A <a href="http://genomeskittle.org">desktop version of Skittle</a> is also available for PC.</p>
	</div>
	<div id="social"><a href="https://plus.google.com/b/113106795968395476024/113106795968395476024/about" target="blank"><img src="{{STATIC_URL}}gfx/gplus-white-32.png" height="32" width="32"></a><a href="https://twitter.com/genome_skittle" target="blank"><img src="{{STATIC_URL}}gfx/twitter-bird-dark-bgs.png" height="36" width="36"></a></div>

	</div>


	<script type="text/javascript">


	$(document).ready(function() {
		$('nav a').on('click',function() {
			$('nav a').removeClass('active')
			$(this).addClass('active')
			$('#header').addClass('active')
			$('#content section').removeClass('active')
			var target = $(this).attr('href')
			if(target && target.slice(0,1) == "#") {
				$(target).addClass('active')
			}
		})


	})
	</script>

{% endblock %}
