{% extends "base.html" %}
{% load humanize %}
{% load nti_filters %}
{% block pageTitle %}DNASkittle|Select a Genome{% endblock %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.10.1.custom.min.css">
	<style type="text/css">
		.container {
			position: relative;
			margin-top: 70px;
			color:#ccc;
			margin-left: 3.5em;
		}
		p,input {
			font-family: trebuchet,'trebuchet ms','myriad pro','helvetica neue',helvetica, ariel, sans-serif
		}
		h2 {
			font-size: 2.3em;
			font-weight: 300;
			margin-bottom: 0.2em
		}
		h3 {
			font-size: 2em;
			margin-bottom: 0.2em;
			font-weight: 300;
			color:#fda;
		}
		h4 {
			font-size: 1.3em;
			margin-bottom: 0.2em;
			font-weight: 300;
			color:#fda;
			word-wrap: break-word;
		}
		#uploadForm {
			width:450px;
			/*line-height: 2.2;*/
			float: left;
		}
		#info {
			max-width: 600px;
			margin-left: 450px;
			padding:2em;
			border-left: 1px solid #fff;
		}
		#info>h3 {
			margin-top: 0;
		}
		#templates {
			display: none;
		}
		input {
			font-size: 1.1em;
		}
		input[type="text"],textarea {
			display:inline-block;
			background: #333;
			color:#fff;
			border: 1px solid #444;
			padding: 0.2em;
			border-radius:4px;
			width:200px;

		}
		input[type="button"] {
			border: default;
			background: default;

		}
		.vertical-grid input[type="text"] {
			width:200px;
		}
		.vertical-grid label {
			display: inline-block;
			width:150px;
			padding-right: 0.5em;
			text-align: right;
			clear:left;
		}
		#taxonomyBuilder .taxonomy {
			color:#8f5;
			position: relative;
			cursor: pointer;
		}
		#taxonomyBuilder .taxonomy::after {
			content:" > ";
			color:#aaa;
		}
		#taxonomyBuilder .taxonomy:nth-child(4)::after {
			content:"";
		}
		#level0:hover::before {
			content: "KINGDOM";
			color:#999;
			font-size: 0.7em;
			font-weight: bold;
			position: absolute;
			top:1.2em;
		}
		#level1:hover::before {
			content: "CLASS";
			color:#999;
			font-size: 0.7em;
			font-weight: bold;
			position: absolute;
			top:1.2em;
		}
		#level2:hover::before {
			content: "GENUS";
			color:#999;
			font-size: 0.7em;
			font-weight: bold;
			position: absolute;
			top:1.2em;
		}
		#level3:hover::before {
			content: "SPECIES";
			color:#999;
			font-size: 0.7em;
			font-weight: bold;
			position: absolute;
			top:1.2em;
		}
		.headingbutton {
			font-size: 0.5em;
			margin-left: 1em;
			vertical-align: middle;
		}
		#nextButton {
			float: right;
			margin-top: 1em;
			margin-right: 1em;
			clear:left;
		}
		#page1, #page2 {
			display: none;
		}
		#page1.active, #page2.active {
			display: block;
		}

	</style>
	{% endblock %}
	{% block scripts %}
	<script src="{{ STATIC_URL }}js/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="{{ STATIC_URL }}js/taxonomy.json"></script>
	<script src="taxonomy.json"></script>
	<script type="text/javascript">
	window.setInterval(function(){
		$.getJSON('#',updateStatus)
	},5000)
	</script>
	{% endblock %}
{% block content %}

	<div class="container">
		{% if status %}
		<div class="message {{ status }}">{{ message }}</div>
		{% endif %}
		<h2>Upload a Genome</h2>
		<form id="uploadForm" action="upload" method="post">
			{% csrf_token %}
			<div id="page1" class="active">
			<div class="vertical-grid">
			<label for="availability">Availability:</label>
			<input type="radio" name="isPublic" value="True" checked>Public
			<input type="radio" name="isPublic" value="">Private
			<br>
			<label for="specimenName">Specimen Name:</label><input type="text" id="specimenName" name="specimenName" placeholder="(e.g. hg19)" class="primary"><br>
			<label for="genomeName">Genome Name:</label><input type="text" id="genomeName" name="genomeName" placeholder="(e.g. Human Genome)" class="primary"><br>
			<label for="source">Source:</label><input type="text" id="source"  name="source" value="{{ user.get_full_name }}"><br>
			<label for="dateSequenced">Date Sequenced:</label><input type="text" id="dateSequenced" name="dateSequenced" placeholder="mo. year"><br>
			<label for="description" style="vertical-align:top">Description:</label><textarea id="description" name="description"></textarea><br>
		</div>
			<h4>Taxonomy:</h4>
			<input type="hidden" id="Kingdom" name="Kingdom">
			<input type="hidden" id="Class" name="Class">
			<input type="hidden" id="Genus" name="Genus">
			<input type="hidden" id="Species" name="Species">
			<input type="checkbox" name="uncategorized" id="uncategorized" checked><label for="uncategorized">Uncategorized</label>
			<div id="taxonomyBuilder" style="display:none;">
				
			</div>
			<a href="#" class="button primary" id="nextButton">Next &gt;</a>
			</div>
			<div id="page2">
			<h3>Select Chromosome Files:</h3>
			<input type="file" class="" multiple="multiple" id="fastafiles">
			<br>
			<div id="chromosomeList"></div>
			<br>
			<a href="#" id="prevButton" class="button">&lt; Back</a>
			<input type="submit" class="button primary" value="Upload">
			</div>
		</form>
		<div id="info">
			<h3>Info</h3>
			<p>Please wait for your fasta files to finish uploading before closing the browser window. Once the upload is
				complete the server will begin processing the files and preparing them for display. This could take 
				a few minutes to several hours depending on the file size.</p>
			<p>If you are working with a single chromosome organism you may upload different strains and assemblies as chromosomes.</p>
			<p>If you select the Private Avaliablity option, the chromosomes you upload will only be available to you when you log in. Otherwise they will be visible to all users of DNASkittle.  Please make sure you have the rights to the files you upload. If you have questions about uploading fasta files, please contact <a href="mailto:support@dnaskittle.com">support@dnaskittle.com</a></p>
		</div>
	</div>
	<div id="templates">
		<div class="chromosome">
			<h4></h4>
			<div class="progress"><div class="progressbar"></div><div class="progresspercent"></div></div>
		</div>
	</div>


	<script type="text/javascript">
	$("#nextButton").on("click",function(){
		$('#page1').removeClass('active');
		$('#page2').addClass('active');
		$('input[type=submit]').val('Upload to '+$('#specimenName').val())
	})
	$("#prevButton").on("click",function(){
		$('#page2').removeClass('active');
		$('#page1').addClass('active');
	})

	var levels = ['Kingdom','Class','Genus','Species'];
	var specimens = {};
	var specimenList = [];
	$(function() {
		$('#uncategorized').on('click',function(){
			if ($(this).is(':checked')) {
				$('#taxonomyBuilder').hide()
			}
			else {
				$('#taxonomyBuilder').show()
				if (!$('#taxonomyBuilder #level0').length) {
					addLevel(0);
				}
			}
		})
		$('#addChr').on('click',function(){
			$('#templates .chromosome').clone().appendTo($('#chromosomes'))
		})
		$('.deleteChr').on('click',function(){
			$(this).parent().remove()
		})

		setupTypeaheads()

		$("#specimenName").first().autocomplete({
							source:specimenList, 
							minLength:0, 
							select:autoFillForm
						})

	})
	var autoFillForm = function(event, ui) { 
		$(this).val(ui.item.label);
		specimen = specimens[ui.item.label];
		$('#genomeName').val(specimen.ExtendedName);
		$('#source').val(specimen.Source);
		$('#dateSequenced').val(specimen.DatePublished);
		$('#description').val(specimen.Description);
		$('#Kingdom,#Class,#Genus,#Species').val("");
		$('#taxonomyBuilder').empty();
		$('#taxonomyBuilder').append('<span id="level0" class="taxonomy">'+specimen.kingdom +'</span><span id="level1" class="taxonomy">'+specimen.class +'</span><span id="level2" class="taxonomy">'+specimen.genus +'</span><span id="level3" class="taxonomy">'+specimen.species +'</span>');
		if ($('#uncategorized:checked').length>0) $('#uncategorized').trigger('click');
	}
	var setupTypeaheads = function() {
		$.extend(taxonomy,currentTaxonomy)

		$.each(currentTaxonomy, function(tempKingdom,v) {
			$.each(v,function(tempClass,v){
				$.each(v, function(tempGenus,v){
					$.each(v, function(tempSpecies,v){
						$.each(v, function(tempSpecimen,v){
							v.kingdom = tempKingdom;
							v.class = tempClass;
							v.genus = tempGenus;
							v.species = tempSpecies;
							specimens[tempSpecimen] = v;
							specimenList.push(tempSpecimen);
						})
					})
				})
			})
		})
	}
	var getTypeaheadValues = function(level) {
		var levelList = taxonomy
		for (var i=0;i<level;i++) {
			levelList = levelList[$('#taxonomyBuilder #level'+i).text()]
			if (!levelList) return []
		}
		if (!levelList) return []
		var list = []
		$.each(levelList,function(i,v){
			list.push(i)
		})
		return list
	}
	var addLevel = function(level) {
		levelInput = addLevelInput(level);
		levelInput
			.select()
			.autocomplete({source:getTypeaheadValues(level),minLength: 0})
			.blur(function() {
				if ($(this).val().length>0) {
					var levelSpan = $('<span id="level'+level+'" class="taxonomy">'+$(this).val()+'</span>');
					levelSpan
						.insertAfter($(this))
						.nextAll().remove()
					$(this).remove()
					level++
					if (level < 4) addLevel(level);
				}
			})
			.on('autocompleteselect', function(event, ui) { $(this).val(ui.item.label).trigger('blur'); }) // when you click on the list it should progress you to the next thing
	}
	$('#taxonomyBuilder').on('click','span.taxonomy',function(){
							$('#taxonomyBuilder input').remove();
							var level = $(this).prop('id').slice(-1);
							addLevel(level);
						})

	var addLevelInput = function(level) {
		var value = ($('#taxonomyBuilder #level'+level).length>0) ? $('#taxonomyBuilder #level'+level).text() : "";
		var levelInput = $('<input type="text" id="level'+level+'" placeholder="' + levels[level] + '" value="'+value+'">')
		var insertPoint = $('#taxonomyBuilder #level'+level)
		if (insertPoint.length>0) {
			levelInput.insertAfter(insertPoint)
			insertPoint.remove()
		}
		else {
			$('#taxonomyBuilder').append(levelInput)
		}
		return levelInput;
	}

	$('#uploadForm').on('submit',function(e){
		e.preventDefault();
		$('#page2 input[type="submit"] #page2 input[type="file"]').attr('disabled','disabled');
		for (i=0;i<4;i++) {
			$('#'+levels[i]).val( $('#level'+i).html() )
		}
		$('.chromosome h4').each(function(){
			$(this).find('input').attr('type','hidden')
			$(this).append($(this).find('input').val())
		})
        ajaxFile($('#fastafiles')[0],0);
	})

	$('#fastafiles').on('change', function(e) {
		$('#chromosomeList .chromosome').each(function(){
			if ($(this).find('input[type="text"]').length>0) $(this).remove()
		});
		$.each(this.files,function(i,v){
			var t = $('#templates .chromosome')
					.clone()
					.attr('id','chr-'+i)
					.attr('data-filename',v.name)
			t.find('h4').html('<input type="text" id="inputchr-'+i+'" name="inputchr-'+i+'" value="' + parseChromosomeFilename(v.name)+'" />')
			$('#chromosomeList').append(t);
		})
        // ajaxFile(this,0);
	});
	var ajaxFile = function(fileinput,i){
		if (!fileinput.files[i]) return false;

        var formData = new FormData(document.getElementById('uploadForm'));
	    var file = fileinput.files[i];
	    formData.append('file',file);
	    formData.append('chromosomeName',$('#inputchr-'+i).val());

	    var xhr = new XMLHttpRequest();
	    xhr.addEventListener('progress', function(e) {
	        var done = e.position || e.loaded, total = e.totalSize || e.total;
            $('#chr-'+i+' .progressbar').width(round(100*done/total) + '%');
	        console.log('xhr progress: ' + (Math.floor(done/total*1000)/10) + '%');
	    }, false);
	    if ( xhr.upload ) {
	        xhr.upload.onprogress = function(e) {
	            var done = e.position || e.loaded, total = e.totalSize || e.total;
	            $('#chr-'+i+' .progressbar').width(round(100*done/total) + '%');
	            console.log('xhr.upload progress: ' + done + ' / ' + total + ' = ' + (Math.floor(done/total*1000)/10) + '%');
	        };
	    }
	    xhr.onreadystatechange = function(e) {
	        if ( 4 == this.readyState ) {
	            if (this.status == 200 ) $('#chr-'+i+' .progressbar').html('upload complete');
	            else $('#chr-'+i+' .progressbar').html('error').css('background','#a00');
	            console.log(['xhr upload complete', e]);
	            // try {updateStatus($.parseJSON(this.response))}
	            // catch (e) { updateStatus() }
	        	ajaxFile(fileinput,++i);
	        }
	    };
	    xhr.open('post', "upload", true);
	    xhr.send(formData);

	}
	
	var updateStatus = function(status) {
		if(!status) return false;
		console.log(status);
		$.each(status,function(i,v){
			if (i == "null") return	false;
			$outputLocation = $('.chromosome[data-filename="'+i+'"] .progressbar');

			if (v.IsWorking == "True") $outputLocation.html('processing...').css('background','#3c3');
			else if (v.Success == "True") {
				$outputLocation.html('Ready for viewing!').css('background','#0a0');
				$('.chromosome[data-filename="'+i+'"] h4')
					.html('<a href="/browse/' + $('#Genus').val() +"/" + $('#Species').val() + "/" + v.Specimen + "/" + v.Chromosome +'">' + v.Chromosome + "</a>")
			}
			else $outputLocation.html('processing error: '+v.Message).css('background','#a00');
			
		})
	}
	</script>

{% endblock %}